* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.title {
    font-size: 28px;
}

.col {
    display: flex;
    flex-direction: column;
}

.actualhead {
    display: flex;
    background-color:rgb(255, 232, 181);
    color: #434343;
    padding: 20px 50px 20px 50px;

}

ul {
    display: flex;
    margin-left: auto;
}

li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    background-color: rgb(255, 232, 181);
    color: #434343;
    padding: 50px;
    gap:50px;
}

.headleft {
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.headright {
    flex: 1;
    padding: 20px;
    display: flex;
    background-color:rgb(226, 170, 132);
    align-items: center;
    justify-content: center;
}

.button, .newsbutton {
    background-color:rgb(255, 197, 163);
    justify-content: baseline;
    border-radius: 8px;
    width: 100px;
    padding: 10px;
}

.info {
    background-color: rgb(255, 197, 163);
    align-items: center;
    padding: 40px;
}

.infohead {
    font-size: 24px;
    padding: 20px;
}

.infodetails {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.infopic {
    border: 5px solid rgb(226, 170, 132);
    background-color: rgb(255, 232, 181);
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    

}

.block {
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.quotebox {
    flex-flow: column;
    background-color:rgb(255, 245, 223);
    padding: 50px;
}

.quote {
    font-style: italic;
    font-size: 30px;
    color: #888888;
    margin-bottom: 30px;
}

.anon {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}

.news {
    display: flex;
    margin: 40px 40px 40px 40px;
    border-radius: 10px;
    padding: 50px;
    background-color:rgb(255, 197, 163);
    justify-content: space-between;
}

.join {
    font-weight: 900;
    margin-bottom: 10px;
}

.newsbutton {
    border:2px solid rgb(255, 232, 181);
}

.footer {
    background-color: #333333;
    text-align: center;
    padding: 20px;
    color: #CCCCCC;
}