* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.title {
    font-size: 28px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: rgb(255, 232, 181);
    color: #434343;
    padding: 100px;
    gap:50px;
    justify-content: center;
}

.headleft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.headright {
    flex: 1;
    display: flex;
    background-color:rgb(253, 211, 119);
    align-items: center;
    justify-content: center;
}

.button {
    background-color:rgb(253, 168, 119);
    justify-content: baseline;
    border-radius: 8px;
    width: 100px;
    padding: 10px;
}

.info {
    background-color: rgb(253, 168, 119);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.infohead {
    font-size: 24px;
    padding: 20px;
}

.infodetails {
    display: flex;
}

.infopic {
    border: 5px solid rgb(255, 185, 33);
    background-color: rgb(255, 232, 181);
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.block {
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.quotebox {
    flex-flow: column;
    background-color:rgb(255, 245, 223);
    padding: 50px 120px 50px 120px;
}

.quote {
    font-style: italic;
    font-size: 30px;
    color: #888888;
    margin-bottom: 30px;
}

.anon {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}
